body {
  margin: 0;
  padding: 0;
}

main {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
}

form {
  margin-bottom: 1rem;
}

#resultado {
  margin-top: 2rem;
}

#sin-resultados {
  color: #dc3545;
}

.button-back {
    display: inline-block;
    padding: 10px 15px;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    background-color: #333;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
  }
  
  .icon-back {
    display: inline-block;
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    background-image: url("flecha-atras.png");
    background-repeat: no-repeat;
    background-size: contain;
  }
  