body {
  background-color: #f3efef;
}

header {
  margin-bottom: 2em;
}

h2 {
  margin-bottom: 1em;
}

.container {
  margin-top: 2em;
  padding: 1em;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 2px 5px #c6c6c6;
}

label {
  font-weight: bold;
}

#result {
  margin-top: 1em;
  font-size: 1.5em;
  font-weight: bold;
}
.button-back {
	display: inline-block;
	padding: 10px 15px;
	font-size: 18px;
	font-weight: bold;
	color: #fff;
	text-decoration: none;
	background-color: #333;
	border-radius: 5px;
	position: relative;
	overflow: hidden;
  }
  
  .icon-back {
	display: inline-block;
	position: absolute;
	left: 10px;
	top: 50%;
	transform: translateY(-50%);
	width: 20px;
	height: 20px;
	background-image: url("flecha-atras.png");
	background-repeat: no-repeat;
	background-size: contain;
  }
  